[Desktop Entry]
Name=calibration.desktop
Comment=calibrator application clickable
Exec=gnome-terminal -- /bin/bash -c "sh ~/psyonic-plotting-tools/scripts/linux/run_calibration_plot.sh"
Terminal=true
Type=Application
Categories=Utility;
